
<div class = "add">
  <%= link_to 'Add new member',new_member_path,class: 'btn btn-primary btn-lg' %>
</div>
<div class="tablebody">
<table class="table table-striped" >
  <thead>
     <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Action</th>
  </thead>
  <tbody>
  <% @members.each do |member| %>

     <tr>
       <td><%= member.name %></td>
       <td><%= member.email %></td>
       <td><%= member.phone %></td>
       <td><%= member.status %></td>
       <td><%= link_to 'Update', edit_member_path(id: member.id),class:'btn btn-primary btn-lg' %></td>
     </tr>

  <% end%>


  </tbody>
  <tfoot>

  </tfoot>

</table>
</div>